[DEFAULT]

# The path to this config file
BasePath	        = %(eutelescopepath)s/jobsub/examples/GBL/SCT

# Set the folder which contains the raw/native data files
# You can find a data sample (see above) at
#NativePath			= /nfs/dust/atlas/user/peschke/data/2014-02-15-test-beam-data
NativePath			= /afs/desy.de/group/telescopes/EutelTestData/TestExamplesGBL/TestExampleStripSensor/Digital 
#The location of the steering templates
TemplatePath		= %(BasePath)s/steering

# The GEAR file describing the detector geometry, this is passed from the runlist.csv
GearFile			= @GearGeoFile@

# Path to the GEAR files
GearFilePath    	= %(BasePath)s/geometry

# The XML file with histogram information
HistoInfoFile   	= %(TemplatePath)s/histoinfo.xml

# Formats the output; @RunNumber@ is the current run number padded with leading
# zeros to 6 digits
FilePrefix   	 	= run@RunNumber@	

# Skip events in a run; set to 0 for all data
SkipNEvents		= 0

# Output subfolder structure
DatabasePath		= ./output/database
HistogramPath		= ./output/histograms
LcioPath            = ./output/lcio
LogPath				= ./output/logs

# Limit processing of a run to a certain number of events
MaxRecordNumber		= 15

# The verbosity used by the EUTelescope producers (i.e. MESSAGE, DEBUG, ERROR
# with appended level from 0..9, e.g. MESSAGE5). If you set this to DEBUG0 but
# you do not see any DEBUG messages, make sure that you set CMAKE_BUILD_TYPE to
# Debug in the $EUTELESCOPE/CMakeList.txt file.
#Verbosity		= MESSAGE5
Verbosity		= DEBUG0 


# After how many events you want a "Processing event XXXX" message
NEventsMessage = 10000

[rootReader]
inputCollectionName = tracks
lcioInputName = GBLtracks
HistogramName=GBLtracks

[converter]

# How many events for noisy pixel analysis
NoOfEvents = 5000

M26SensorVec = 0 1 2 3 4 5
FiringFreqCutM26 = 0.003

APIXSensorVec = 20 21
FiringFreqCutAPIX = 0.001

[clustering]

[hitmaker]

#Number of events used for Correlator and PreAligner
NoEvents = 9999

#Residual cuts for Correlator and PreAligner
ResidualsXMax =  5.  5.  5.   100.    5.  5.  5.
ResidualsXMin = -5. -5. -5.  -100.   -5. -5. -5.
ResidualsYMax =  5.  5.  5.   100.    5.  5.  5.
ResidualsYMin = -5. -5. -5.  -100.   -5. -5. -5.

[align]

GearFile 		= @GearGeoFile@@RunNumber@_pre.xml
Verbosity 	    = MESSAGE3

# 1 = true
UseResidualCuts     = 1

ResidualXMax        =    100.0  100.0  100.0   2000.0    700.0  800.0  900.0 
ResidualXMin        =   -100.0 -100.0 -100.0  -2000.0     -700.0 -800.0 -900.0 
ResidualYMax        =    100.0  100.0  100.0   2000.0      700.0  800.0  900.0 
ResidualYMin        =   -100.0 -100.0 -100.0  -2000.0     -700.0 -800.0 -900.0 

DistanceMax         =  2000 

ExcludePlanes       = 
FixedPlanes         =  0 5

[fitter]

GearFile =  @GearGeoFile@@RunNumber@_pre_aligned.xml
Verbosity 	= MESSAGE5
TelPlanes 	= 0 1 2 3  
DUTPlanes 	= 8

#Should be something in the order or 18.4/sqrt(12)~5.4 (even lower for clusters ~3-4), but noise, scattering etc. can increase this
TelResolution 	= 30

[missingcoordinate]

Verbosity       = MESSAGE0
TelPlanes       = 2 3
DUTPlanes       = 8
AlibavaHistoInfo  =  %(TemplatePath)s/histoinfo_alibava.xml
GearFile 		= @GearGeoFile@@RunNumber@_pre.xml

#Number of events used for Correlator and PreAligner
NoEvents = 9999

#Residual cuts for Correlator and PreAligner
ResidualsXMax =  5.  5.  5.   100.    5.  5.  5.
ResidualsXMin = -5. -5. -5.  -100.   -5. -5. -5.
ResidualsYMax =  5.  5.  5.   100.    5.  5.  5.
ResidualsYMin = -5. -5. -5.  -100.   -5. -5. -5.


[patternRecognition]
TripletConnectDistCut = 1 1
TripletSlopeCuts = 0.01 0.01
DoubletCenDistCut = 1 1
DoubletDistCut = 1 1

excludeplanes=   
planeDimensions= 2 2 2 1 2 2 2 
InitialDisplacement=-40
HitInputCollectionName=local_hit
TrackCandHitOutputCollectionName=track_candidates
[GBLTrackFit]
r                    = 0.006
dutX=0.02
dutY=100000000
xResolutionPlane        =  %(r)s %(r)s %(r)s %(dutX)s %(r)s %(r)s %(r)s 
yResolutionPlane        =  %(r)s %(r)s %(r)s %(dutY)s %(r)s %(r)s %(r)s 
GBLMEstimatorType=
dropCollectionName = 
inputCollectionName = track_candidates
outputCollectionName = tracks 
lcioInputName = trackcand
lcioOutputName = GBLtracks
histoName=GBLtracks
Planes = 0 1 2 3 4 5 8 

[GBLTrackSelection]
dropCollectionName = 
inputCollectionName = tracks
outputCollectionName = tracks-selection 
lcioInputName = GBLtracks
lcioOutputName = GBLtracks-selection
histoName=GBLtracks-selection
mustHaveHit=
mustNotHaveHit=  

#This is used in the analysis processor within this steering file
Planes = 0 1 2 3 4 5 
[GBLAlign]
MilleBinaryFilename=millepede.bin
MilleSteeringFilename = steer.txt
MilleResultFilename= millepede.res
GearAlignedFile = alignedGear-%(FilePrefix)s.xml
outlierdownweighting=outlierdownweighting 4
GBLMEstimatorType=
AlignmentMode=7
#These planes are completely excluded from the analysis. The scattering from the plane however is still taken into account.
ExcludePlanes="" 
pede          = chiscut 1000  100
lcioInputName=GBLtracks
inputCollectionName=tracks

[iterativeAlignment]
r="0.006" 
dutX="0.02"
dutY="100000000"
xres="0.006 $r $r $dutX $r $r 0.006"
yres="0.006 $r $r $dutY $r $r 0.006"
minTracksPerEventAcceptance=0.1  
inputGearInitial="gear-ZRotations-XYShift-FINALVERSION-Iteration-1-000703.xml" 
allPlanes="0 1 2 8 3 4 5"
allPlanesFixed="0     5"  


[TrackAnalysis]
inputCollectionNameGBLTracks=tracks
Planes = 0 1 2 3 4 5 8


