language: cpp

sudo: required

services:
    - docker
env:
 - DOCKER_IMG=merualhemio/eutel-archlinux
 - DOCKER_IMG=merualhemio/eutel-opensuse-tumbleweed
 - DOCKER_IMG=merualhemio/eutel-slc6
 - DOCKER_IMG=merualhemio/eutel-cerncentos7
 - DOCKER_IMG=merualhemio/eutel-ubuntu16
 - DOCKER_IMG=merualhemio/eutel-ubuntu17
 - DOCKER_IMG=merualhemio/eutel-ubuntu18
 - DOCKER_IMG=merualhemio/eutel-fedora26
 - DOCKER_IMG=merualhemio/eutel-fedora28
 - DOCKER_IMG=merualhemio/eutel-debian9
 
script:
 - docker pull $DOCKER_IMG
 - echo "TRAVIS_PULL_REQUEST $TRAVIS_PULL_REQUEST"
 - echo "TRAVIS_PULL_REQUEST_BRANCH $TRAVIS_PULL_REQUEST_BRANCH"
 - echo "TRAVIS_REPO_SLUG $TRAVIS_REPO_SLUG"
 - echo "TRAVIS_COMMIT $TRAVIS_COMMIT"
 - docker run -e PR_NO=$TRAVIS_PULL_REQUEST $DOCKER_IMG 
