# EXAMPLE CONFIG FOR RUNNING LOCALLY OVER TELESCOPE DATA ONLY
# - configuration for Datura telescope used for test beam campaign in June 2012 at DESY TB21
# - for details see the included README
# - for tests, you can find an example run here:
#   /afs/desy.de/group/telescopes/EutelTestData/TestPysubExampleDaturaAlone/run004118.raw
#   (telescope only data taken with (passive) CMS pixel as DUT)
# ---------------------------------------------------------------------------------------------
# 

[DEFAULT]
# global section. Settings can be overwritten through task-specific sections

# The python config parser interprets '%(NAME)s' as the corresponding variable NAME.
# The variable EutelescopePath is by default filled with the environment variable EUTELESCOPE
# and should correspond to the installation path of EUTelescope.
# Also, the variable %(home)s corresponds to the user's home directory.

# the template file name can be set with
# TemplateFile = file.xml
# The default is '[task]-tmp.xml'

BasePath     		= %(eutelescopepath)s/jobsub/examples/datura-alone
TemplatePath		= %(BasePath)s/steering-templates
# set the folder which contains the raw/native data files
NativeFolder            = /afs/desy.de/group/telescopes/EutelTestData/TestExampleDaturaAlone
# geometry file
GEARFile    		= gear_desy2012_06f_tb21.xml
# histogram information
Histoinfo   		= histoinfo.xml
# format for the output; @RunNumber@ is the current run number padded with leading zeros to 6 digits
Output			= run@RunNumber@
# which run number to use for hot pixel determination
HotpixelRunNumber	= @RunNumber@
SkipNEvents = 
# set here the path where the gear file are stored
GearPath	    	      = %(BasePath)s
# The XML file with histogram information
HistoInfoFile   	= %(TemplatePath)s/histoinfo.xml
# Set here the path for the input file
# recommended subfolder structure:
LocalFolderOutputBase		= ./output
LcioRawFolder            	= %(LocalFolderOutputBase)s/lcio-raw
DBPath				= %(LocalFolderOutputBase)s/db
ResultsPath			= %(LocalFolderOutputBase)s/results
HistoPath			= %(LocalFolderOutputBase)s/histo
LogPath				= %(LocalFolderOutputBase)s/logs
# limit processing of run to a certain number of events
MaxRecordNumber = 100000
# the verbosity used by the eutelescope producers (i.e. MESSAGE, DEBUG, ERROR with appended level from 0..9, e.g. MESSAGE5)
# if you set this to DEBUG0 but you do not see any DEBUG messages, make sure that you set CMAKE_BUILD_TYPE to Debug in the 
# $EUTELESCOPE/CMakeList.txt file.
Verbosity = MESSAGE4

[converter]
# section for the converter step

[clusearch]

[hitmaker]
InputFile		= %(ResultsPath)s/run@RunNumber@-clu.slcio

[align]
InputFile		= %(ResultsPath)s/run@RunNumber@-hit.slcio
PedeSteeringFile	= %(TemplatePath)s/pede-steer-tmp.txt
# do not need so many events for alignment - this overwrites global value set above
MaxRecordNumber     = 75000
RunPede             = 1 
UseResidualCuts     = 1
Records             = 10000000
# Skip                = 0
#                     plane0  1     2     3     4     5
ResidualXMin        = -300. -300. -300. -600. -600. -600.
ResidualXMax        =  300.  300.  300.  600.  600.  600.
ResidualYMin        = -300. -300. -300. -600. -600. -600.
ResidualYMax        =  300.  300.  300.  600.  600.  600.
#
# DistanceMax [um] used in EUTelMille/findTrack:
#
DistanceMax         =  1000 
#
ExcludePlanes       =  
FixedPlanes         = 0 5

[fitter]
InputFile		= %(ResultsPath)s/run@RunNumber@-hit.slcio
AlignmentFile		= %(DBPath)s/run@RunNumber@-align-db.slcio
Records                = 100000000
#
# TestFitter options
AllowedSkipHits        = 1
SkipHitPenalty         = 1 
AllowedMissingHits     = 1
MissingHitPenalty      = 1 
Chi2Max                = 100
PassiveLayerIDs        = 
DistanceMax            = 1000.0
