[DEFAULT]

# The path to this config file
BasePath	        = %(eutelescopepath)s/jobsub/examples/gbl_dut

# Set the folder which contains the raw/native data files
# You can find a data sample (see above) at
NativePath			= /afs/desy.de/group/telescopes/EutelTestData/TestExampleGBL_DUT

#The location of the steering templates
TemplatePath		= %(BasePath)s/steering-templates

# The GEAR file describing the detector geometry, this is passed from the runlist.csv
GearFile			= @GearGeoFile@

# Beam Energy is retrieved from the runlist.csv
BeamEnergy          = @BeamEnergy@

# Path to the GEAR files
GearFilePath    	= %(BasePath)s/gear

# The XML file with histogram information
HistoInfoFile   	= %(TemplatePath)s/histoinfo.xml

# Formats the output; @RunNumber@ is the current run number padded with leading
# zeros to 6 digits
FilePrefix   	 	= run@RunNumber@	

# Skip events in a run; set to 0 for all data
SkipNEvents		= 0

# Output subfolder structure
DatabasePath	    = ./output/database
HistogramPath	    = ./output/histograms
LcioPath            = ./output/lcio
LogPath	            = ./output/logs

# Limit processing of a run to a certain number of events
MaxRecordNumber		= 30000

# The verbosity used by the EUTelescope producers (i.e. MESSAGE, DEBUG, ERROR
# with appended level from 0..9, e.g. MESSAGE5). If you set this to DEBUG0 but
# you do not see any DEBUG messages, make sure that you set CMAKE_BUILD_TYPE to
# Debug in the $EUTELESCOPE/CMakeList.txt file.
Verbosity		= MESSAGE5

# After how many events you want a "Processing event XXXX" message
NEventsMessage = 2500

[noisypixel]

# How many events for noisy pixel analysis
NoOfEvents = 20000

M26SensorVec = 0 1 2 3 4 5
FiringFreqCutM26 = 0.01

APIXSensorVec = 7
FiringFreqCutAPIX = 0.001

[clustering]

[hitmaker]

#Number of events used for Correlator and PreAligner
NoEvents = 20000

#Residual cuts for Correlator and PreAligner
ResidualsXMax =  3.  3.  3.   100.  3.  3.  10.  3.
ResidualsXMin = -3. -3. -3.  -100. -3. -3. -10. -3.
ResidualsYMax =  3.  3.  3.   100.  3.  3.  10.  3.
ResidualsYMin = -3. -3. -3.  -100. -3. -3. -10. -3.

[aligngbl]

Verbosity 	    = MESSAGE4
alignMode   = XYZShiftsRotXYZ
performAlignment = 1

r = 0.00324

rFEI4Y = 0.072
rFEI4X = 0.0144
dutX=0.022

dutY=28.86

ResolutionX        =  %(r)s %(r)s %(r)s %(dutY)s %(r)s %(r)s %(rFEI4Y)s %(r)s 

ResolutionY        =  %(r)s %(r)s %(r)s %(dutX)s %(r)s %(r)s %(rFEI4X)s %(r)s

ExcludePlanes       =

FixedPlanes         =  0 5

UpstreamTripletCut = 0.03
DownstreamTripletCut = 0.07

UpstreamSlopeCut = 6
DownstreamSlopeCut = 6

TripletMatchingCut = 0.2

DUTCuts = 0.4 1000

FixedXShift = 11
FixedYShift =
FixedZShift = 1 2 11 3 4 7
FixedXRot = 1 2 11 3 4 7
FixedYRot = 1 2 11 3 4 7
FixedZRot =

